<?xml version="1.0"?>
<robot name="amr01" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false"/>

  <xacro:include filename="$(find amr_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_base.xacro"/>
  <xacro:include filename="$(find amr_description)/urdf/amr_ros2_control.xacro"/>

  <xacro:amr_ros2_control use_sim="$(arg use_sim)"/>

  <xacro:if value="$(arg use_sim)">
    <gazebo>
      <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">

        <parameters>
          $(find amr_control)/config/controllers.yaml
        </parameters>

      </plugin>
    </gazebo>
  </xacro:if>

</robot>
